# Configuración de Servidor
PORT=3000

# Supabase (Configuración activa)
SUPABASE_URL=https://kwdapcjhhrxijvpteflg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3ZGFwY2poaHJ4aWp2cHRlZmxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0MTA1MzksImV4cCI6MjEwNDk4NjUzOX0.SJYrdYjbwvKNp8f1YzkdLVl5HyrGqVNPg-GFzznJuao
# (Opcional) Service Role Key para operaciones administrativas del servidor sin restricciones de RLS
SUPABASE_SERVICE_ROLE_KEY=

# Credenciales del Único Administrador (opcionales para sobrescribir)
ADMIN_USER=admin
ADMIN_PASS=admin123
